
td {font-family: Arial, Verdana, sans-serif;color: #FFFFFF;font-size: 10px;}
#title {font-family: Arial, Verdana, sans-serif;color: #FFCD20;font-size: 10px;}
#legal {font-family: Arial, Verdana, sans-serif;color: #FFFFFF;font-size: 9px;}
a {color: #FFCD20;text-decoration: none;}
a:hover {text-decoration: underline;}